.main {
    text-align: center;
    margin: 50px;
}

/* .w3-animate-bottom {
    position: relative;
    animation: animatebottom 0.6s;
}
@keyframes animatebottom {
    from {
        bottom: -60px;
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
} */

.subtitle {
    text-align: center;
    opacity: 0;
    animation: fadeInText 0.6s ease-in forwards;
}
@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
